<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mytest.mappers.BoardMapper">
	<select id="getBoardList" parameterType="Map" resultType="com.mytest.dto.Board">
	   SELECT * FROM board ORDER BY created_dt desc limit #{pageStartNum}, #{pageSize};
	</select>
	
	<select id="getSelectBoardList" resultType="com.mytest.dto.Board" parameterType="java.lang.String">
	   SELECT Board_id, Title, Content, Created_Dt, Updated_Dt
	   FROM board 
	   where Writer = #{Writer};
	</select>
	

	
	
	<resultMap id="getBoardSearchList" type="com.mytest.dto.User">
		<association property="user_id" column="Writer" select="com.mytest.mappers.BoardMapper.getBoardList"></association>
	</resultMap>
</mapper>